@model TFlix.Models.Subscricao

@{
    ViewData["Title"] = "Create";
}

<script src="/lib/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function (){
        $("#btnAddFilme").click(function (){

            $("#listaFilmes").append("<li>" + $("#Filmes option:selected").text() + "<input type='checkbox' name='ckeckFilmes' id='ckeckFilmes' class='ckeckFilmes' checked='checked' value='" + $("#Filmes option:selected").val() + "'></li>");
        }); 
    });

    $(document).ready(function (){
        $("#btnAddSerie").click(function (){

            $("#listaSeries").append("<li>" + $("#Series option:selected").text() + "<input type='checkbox' name='ckeckFilmes' id='ckeckSeries' class='ckeckSeries' checked='checked' value='" + $("#Series option:selected").val() + "'></li>");
        }); 
    });

</script>



<h1>Criar</h1>

<h4>Subscrição</h4>
<hr />
<div id="estilo "class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Utilizador</label>
                <select asp-for="UtilizadorFK" class ="form-control" asp-items="ViewBag.UtilizadorFK">
                    <option value="">Escolha um utilizador</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuxPreco" class="control-label"></label>
                <input asp-for="AuxPreco" class="form-control" />
                <span asp-validation-for="AuxPreco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Filmes</label>
                @Html.DropDownListFor(m=>m.Filmes, new SelectList(ViewBag.Filmes,"Id","Titulo") , new {@class= "form-control" })
                <br />
                <button type="button" class="btn btn-info" id="btnAddFilme">Adicionar filme</button>
            </div>
            <div>
                <br />
                <ul id="listaFilmes"></ul>
            </div>
            @*<div class="form-group">
                <label class="control-label">Series</label>
                @Html.DropDownListFor(m=>m.Series, new SelectList(ViewBag.Series,"Id","Titulo") , new {@class= "form-control" })
                <button id="btnAddSerie">Adicionar</button>
            </div>
            <ul id="listaSeries"></ul>*@
            <div class="form-group">
                <input type="submit" value="Criar" class="button-34" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
