@{
    ViewData["Title"] = "Página Inicial";
}

<div class="inicio">
    
        <img alt ="Logotipo" src ="~/logo.png"/>
        <button class="button-34" role="button">Continuar</button>

    


</div>
