@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à TFlix</h1>
    <p>A nova plataforma para alugares filmes e veres séries.</p>
    <button id="continuar" href="">Continuar</button>
</div>
