@{
    ViewData["Title"] = "Página Inicial";
}

<div class="inicio">
    
        <img alt ="Logotipo" src ="~/logo (4).png" />
        <form class = "bt">
        <img alt ="Slogan" src="~/logo (5).png" />
        <button class="button-34" role="button" asp-area = "" asp-controller = "Utilizadores" asp-action = "Create">Continuar</button>
        </form>
       
    


</div>
