@{
    ViewData["Title"] = "Sobre nós";
}
<h1 style="color:white">@ViewData["Title"]</h1>

<p style ="color:white">Trabalho Final da unidade curricular de Desenvolvimento Web. TFlix é uma aplicação que disponibiliza uma vasta gama de filmes que posteriormente podem ser alugados pelos utilizadores interessados, ficando disponíveis por um determinado tempo.</p>

<div class="sobre">

    <p style ="color:white"></p>
    <br />
    Trabalho Realizado por:
    <br />
    <br />
    <ul>
      <li>Fernando Fuzeiro Nº 22111</li>
      <li>Tomás Silva Nº 23052</li>
    </ul>
    <p>Link do GitHub: <a href="https://github.com/ferndiogo/TFlix_DW">TFlix_DW</a></p>

</div>