html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.form-n {
    height:40px;
    margin-bottom: 10px;
    width: 200px;
    padding: 0px 0px 0px 0px;
}

.control-label {
    padding-bottom: 5px;
}


.col-md-4 {
    display: block; 
    justify-content: center;
    align-items: center;
    margin: auto;
}


.button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    display: block;
    margin: auto;
}

.bt{
    display: block;
    
}

.regLabel {
    width: auto !important;
    color: white;
    display: block !important;
}

.row {
    margin-left: 0px !important;
}


.inicio{
    height: 300px;
    margin: auto;
    display: block;
}

img{
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

h1,h2, h3, h4 {
    color:#ffffff;
    text-align:center;
}

.checkbox {
    color:#ffffff;
}

td, th {
    color:#ffffff;
}

.form-group, .col-sm-2, .col-sm-10 {
    color: #ffffff;
}

* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

    /* Add shadows on hover */
    .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

    /* Pricing header */
    .price .header {
        background-color: #111;
        color: white;
        font-size: 25px;
    }

    /* List items */
    .price li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        text-align: center;
    }

    /* Grey list item */
    .price .grey {
        background-color: #eee;
        font-size: 20px;
    }

/* The "Sign Up" button */
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}