@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2>Create a new account.</h2>
    <div class="row">
        <div class="col-md-4">

            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            
            @* lê os dados do novo utilizador*@
            <div class="form-floating">
                <input asp-for="Input.Utilizador.Nome" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Utilizador.Nome"></label>
                <span asp-validation-for="Input.Utilizador.Nome" class="text-danger"></span>
            </div>

            @* lê os dados de autenticação *@
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Utilizador.Sexo" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Utilizador.Sexo"></label>
                <span asp-validation-for="Input.Utilizador.Sexo" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <hr />

            <div class="form-floating">
                <input asp-for="Input.Utilizador.DataNasc" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Utilizador.DataNasc"></label>
                <span asp-validation-for="Input.Utilizador.DataNasc" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Utilizador.NIF" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Utilizador.NIF"></label>
                <span asp-validation-for="Input.Utilizador.NIF" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Utilizador.Morada" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Utilizador.Morada"></label>
                <span asp-validation-for="Input.Utilizador.Morada" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Utilizador.CodPostal" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Utilizador.CodPostal"></label>
                <span asp-validation-for="Input.Utilizador.CodPostal" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Utilizador.Pais" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Utilizador.Pais"></label>
                <span asp-validation-for="Input.Utilizador.Pais" class="text-danger"></span>
            </div>

        </div>

        <div>
            <button id="registerSubmit" type="submit" class="button-34">Registo</button>
        </div>

    </div>
</form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
